@import "./reset.css";
@import "./variables.css";

* {
  color: var(--primary-font-color);
}

body {
  background-color: var(--main-bg-color);
}

#app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100dvh;
}

#app main {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
